@model List<LinksTable>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Links</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Guid</th>
                <th>Link</th>
                <th>Create Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LinksTable item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Guid</td>
                    <td>@item.Link</td>
                    <td>@item.CreationTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>
